* {
    margin: 0px;
    padding: 0px;
}

#containerimage {
    height: 513px;
    position: relative;
    object-fit: cover;
}

.formcontainer{
    position: absolute;
    width: 340px;
    top: 160px;
    left: 39%;
    background-color: white;
}

#form{
    padding: 20px;
}

.form-group{
    margin-bottom: 1.5rem;
}

.message{
    color: red;
    margin-bottom: 1rem;
}