{% extends 'loginsystembase.html' %}

{% load static %}

{% block Title %}Forgot Password{% endblock Title %}

{% block CSSFilePath %} <link rel="stylesheet" href="{% static 'CSSFiles/forgotPassword.css' %}"> {% endblock CSSFilePath %}

{% block LoginSignup %}

<li class="nav-item ">
  <a class="nav-link" href="/">Login</a>
</li>

<li class="nav-item ">
  <a class="nav-link" href="/signup">Sign up</a>
</li>

{% endblock LoginSignup %}

{% block Body %}

<div class="imagecontainer">
    <img class="d-block w-100" id="containerimage" src="{% static 'Images/Home.jpg' %}" alt="">

    <div class="formcontainer">
        <form id="form" action="/forgotPassword" method="post">
            {% csrf_token %}
            <h3>Recover Account</h3><br>

            <p style="margin-bottom: 1.5rem;"><sup>*</sup> Indicates a required field. </p>

            <div class="form-group">
                <label>Email address <sup>*</sup>&ensp; </label>
                <input type="email" class="form-control" id="Email_ID" name="Email_ID" placeholder="Enter your email address" style="width: 300px;" required>
            </div>

            {% if messages %}
            <div class="message">
              {% for message in messages %}{{message|safe}}{% endfor %}
            </div>
            {% endif %}

            <div class="form-group" style="margin-bottom: 0rem;">
              <button type="submit" class="btn btn-success" style="background-color: black; border: black">Submit</button>
              &emsp; &emsp; &ensp;<a href="/home" style="color: black;"> Click here to skip login. </a>
            </div>

          </form>
    </div>

</div>

{% endblock Body %}

{% block FooterPosition %}relative{% endblock FooterPosition %}